*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;

}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #f1f1f1;
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #f1f1f1;
}

#page2 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #f1f1f1;
}

#page3 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #f1f1f1;

}

canvas {
    position: relative;
    z-index: 9;
    max-height: 100vh;
    max-width: 100vw;
}

#loop {
    position: absolute;
    top: 30%;
    height: 23%;
    /* width: 100%; */
    font-size: 6vw;
    white-space: nowrap;
    /* font-family: kajiro; */
    font-family: gilroy;
}

#loop h1 {
    text-transform: uppercase;
    font-weight: 500;
    animation-name: anim;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    letter-spacing: -0.5rem;
}

#loop>h1>span {
    -webkit-text-stroke: 1.5px #000;
    color: transparent;
    font-weight: 550;
    
}
@keyframes anim {
    0%{
        transform: translateX(0%)
    }
    100%{
        transform: translateX(-100%)
    }
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 7%;
    width: 100%;
    position: fixed;
    z-index: 9;
    /* background: #e84d4d; */
}

#nav h3 {
    font-weight: 500;
    font-size: 22px;
}

#nav button {
    padding: 8px 15px;
    border-radius: 50px;
    background-color: #000;
    color: #ffffff;
    border: none;;

}

#page h3 {
    position: absolute;
    text-transform: uppercase;
    
    top: 58%;
    left: 4%;
    font-weight: 400;
    color: #7b7a7a;
}

#page h4 {
    position: absolute;
    top: 65%;
    left: 23%;
    text-transform: uppercase;
    font-weight: 500;
}

#page1 #rtext {
    position: absolute;
    top: 28%;
    left: 10%;
} 
#page1 #rtext h3 {
    color: #7c7c7c;
    font-weight: 500;
    font-size: 15px;
}
#page1 #rtext h1 {
    line-height: 1.5;
    font-size: 42px;
}

#page1 #ltext {
    position: absolute;
    top: 48%;
    right: 10%;
    text-transform: uppercase;
    text-align: right;
}
#page1 #ltext h1 {
    line-height: 1.5;
    font-size: 42px;
}
#page1 #ltext h3 {
    text-align: right;
    color: #7c7c7c;
    font-weight: 500;
    font-size: 15px;
}

#page2 #ltext2 {
    position: absolute;
    top: 30%;
    left: 10%;
    text-transform: uppercase;
}
#page2 #ltext2 h3 {
    color: #7c7c7c;
    font-weight: 500;
    font-size: 15px;    
}
#page2 #ltext2 h1 {
    font-size: 60px;
    line-height: 1.5;
}

#page2 #rtext2 p {
    position: absolute;
    color: #7c7c7c;
    top: 55%;
    right: 10%;
    text-align: right;
    font-weight: 500;
}

#page3 #rtext3  {
    position: absolute;
    top: 45%;
    right: 8%;
    text-transform: uppercase;
    text-align: right;
}
#page3 #rtext3 h3 {
    color: #7c7c7c;
    font-weight: 500;
    font-size: 15px;
}
#page3 #rtext3 h1 {
    font-size: 60px;
    line-height: 1.5;
    
}